/* -------------------- assessment.ejs ----------------------- */
<div class="quiz-wrapper">
    <div class="quiz-container">
        <h1>Holistic Healing</h1>
        <p class="description">
            Whether you're looking to boost your confidence, find your purpose, or improve your relationships, 
            it starts with knowing who you are and what you need. This free assessment will help with that.
        </p>

        <div class="form-container">
            <div class="question-box">
                <span>How are you<br>feeling today?</span>
            </div>

            <form action="#" method="post">
                <div class="options">
                    <label></label>
                    <label><input type="radio" name="feeling" value="great"> I feel great!</label>
                    <label><input type="radio" name="feeling" value="good"> I feel good</label>
                    <label><input type="radio" name="feeling" value="okay"> I feel okay</label>
                    <label><input type="radio" name="feeling" value="not-good"> I don't feel good</label>
                    <label><input type="radio" name="feeling" value="bad"> I feel bad!</label>
                    <label><input type="radio" name="feeling" value="good-bad"> I felt good, but now I feel bad</label>
                    <label><input type="radio" name="feeling" value="bad-good"> I felt bad but now I feel good</label>
                </div>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>