<!--/*------------------Carousel section-------------------------------*/-->
<section aria-label="Newest Photos">
  <div class="carousel" data-carousel>
    <button class="carousel-button prev" data-carousel-button="prev">&#60;</button>
    <button class="carousel-button next" data-carousel-button="next">&#62;</button>
    <ul data-slides>
      <li class="slide" data-active>
        <img class="slide-img" src="https://images.unsplash.com/photo-1421789665209-c9b2a435e3dc?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bmF0dXJlJTIwd2FsbHBhcGVyfGVufDB8fDB8fHww" alt="Nature Image #1">
        <div class="img-content">
          <h3 class="slide-title">First Image Title</h3>
          <p class="slide-content">Lorem ipsum odor amet, consectetuer adipiscing elit. Platea rhoncus mattis libero sed mollis molestie. Congue ad ut luctus ac luctus leo egestas. Tristique interdum litora ultricies eget ac purus et sagittis libero.</p>
          <button class="slide-btn">Action Button</button>
        </div>
      </li>

      <li class="slide">
        <img class="slide-img" src="https://as1.ftcdn.net/v2/jpg/01/04/46/94/1000_F_104469435_O2zavoyqw1QiRmTHjwRROeKKuPTiGpgV.jpg" alt="Nature Image #2">
        <div class="img-content">
          <h3 class="slide-title">Second Image Title</h3>
          <p class="slide-content">Lorem ipsum odor amet, consectetuer adipiscing elit. Platea rhoncus mattis libero sed mollis molestie. Congue ad ut luctus ac luctus leo egestas. Tristique interdum litora ultricies eget ac purus et sagittis libero.</p>
          <button class="slide-btn">Action Button</button>
        </div>
      </li>

      <li class="slide">
        <img class="slide-img" src="https://depositphotos-blog.s3.eu-west-1.amazonaws.com/uploads/2017/07/Soothing-nature-backgrounds-2.jpg" alt="Nature Image #3">
        <div class="img-content">
          <h3 class="slide-title">Third Image Title</h3>
          <p class="slide-content">Lorem ipsum odor amet, consectetuer adipiscing elit. Platea rhoncus mattis libero sed mollis molestie. Congue ad ut luctus ac luctus leo egestas. Tristique interdum litora ultricies eget ac purus et sagittis libero.</p>
          <button class="slide-btn">Action Button</button>
        </div>
      </li>
    </ul>
  </div>
</section>
<!--/*-----------------------------------------------------------------*/-->
<div class="home-container">
    <h1>"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</h1>
    <button id="quiz-button">Take our quiz</button>
    <h2>Hi!</h2>
    <p>Let me introduce myself to you.</p>
  
    <div class="video-container">
      <iframe
        width="1120"
        height="630"
        src="https://www.youtube.com/embed/GsH5c0xT_tw"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>

    <div class="review-section">
      <h3>Voices of the Healed</h3>
  
      <div class="review" style="background: url('/images/review-background1.png') no-repeat center center / cover;">
        
        <div class="left-section">
          <img src="/images/review-face1.png" alt="John Doe" class="review-img" />
          <p class="review-name">John Doe</p>
        </div>
        <div class="right-section">
          <p class="review-quote">
            ❝ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi.
            Suspendisse potenti. Vivamus ut felis id erat aliquet scelerisque. Duis euismod,
            nisl vel tincidunt luctus, lectus eros efficitur lacus, in pharetra odio augue ac nulla. ❞
          </p>
        </div>
      </div>
  
      <div class="review" style="background: url('/images/review-background2.png') no-repeat center center / cover;">
        
        <div class="left-section">
          <p class="review-quote">
            ❝ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi.
            Suspendisse potenti. Vivamus ut felis id erat aliquet scelerisque. Duis euismod,
            nisl vel tincidunt luctus, lectus eros efficitur lacus, in pharetra odio augue ac nulla. ❞
          </p>
        </div>
        <div class="right-section">
          <img src="/images/review-face2.png" alt="Sam Smith" class="review-img" />
          <p class="review-name">Sam Smith</p>
        </div>
      </div>
  
      <div class="review" style="background: url('/images/review-background3.png') no-repeat center center / cover;">
        
        <div class="left-section">
          <img src="/images/review-face3.png" alt="Adam Ng" class="review-img" />
          <p class="review-name">Adam Ng</p>
        </div>
        <div class="right-section">
          <p class="review-quote">
            ❝ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi.
            Suspendisse potenti. Vivamus ut felis id erat aliquet scelerisque. Duis euismod,
            nisl vel tincidunt luctus, lectus eros efficitur lacus, in pharetra odio augue ac nulla. ❞
          </p>
        </div>
      </div>
  </div>
</div>