<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Hub GracefuLiving</title>
    <link rel="stylesheet" href="/css/hubstyle.css">
</head>

<body>
    <div class="sidebar">
        <img src="/images/pexels-pixabay-358457.jpg" alt="Multnoma Falls" class="sidebar-photo">

    </div>
    <div class="welnesshubimage">
        <img src="">
    </div>
    <div class="wellnesshubheaderbackgroundbar">

    
    <div class="wellnesshubheader">
        -Welness Hub-
    </div>
    <div class="belowwellnessheader">
        Navigate Your
        Healing Journey
    </div>
    </div>
    <div class="welnesshubnavigationbuttons">
        <!--<div href="https://www.coachaccountable.com/" class="wellnesshubclientportal">
            Client Portal
        </div>
        <div href="https://calendly.com/" class="wellnesshubappointments">
            Appointments
        </div>
        <div href="/contact" class="wellnesshubcontact">
            Contact
        </div>
        <div href ="/shop"class="wellnesshubonlineshop">
            Online Shop
        </div>
        <div href ="resources"class="welnesshubresources">
            Resources
        </div>
        <div href = "/assessment"class="wellnesshubonlineassessment">
            Online Assessment
        </div>-->
    
    <div class="welnesshubnavigationbuttons">
        <a href="https://www.coachaccountable.com" class="nav-card">Client Portal</a>
        <a href="https://calendly.com/" class="nav-card">Appointments</a>
        <a href="/contact" class="nav-card">Contact</a>
        <a href="/shop" class="nav-card">Online Shop</a>
        <a href="/resources" class="nav-card">Resources</a>
        <a href="/assessment" class="nav-card">Chakra Wellness Assessment</a>
    </div>
    </div>
</body>
</html>