<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Hub Graceful Living</title>
</head>

<body>
    <div class="welnesshubimage">
        <img src="">
    </div>
    <div class="wellnesshubheaderbackgroundbar">

    
    <div class="wellnesshubheader">
        -Welness Hub-
    </div>
    <div class="belowwellnessheader">
        Navigate Your
        Healing Journey
    </div>
    </div>
    <div class="welnesshubnavigationbuttons">
        <div class="wellnesshubclientportal">
            Client Portal
        </div>
        <dic class="wellnesshubappointments">
            Appointments
        </div>
        <div class="wellnesshubcontact">
            Contact
        </div>
        <div class="wellnesshubonlineshop">
            Online Shop
        </div>
        <div class="welnesshubresources">
            Resources
        </div>
        <div class="wellnesshubonlineassessment">
            Online Assessment
        </div>
    </div>
</body>
</html>