/* -------------- application.css ------------------- */

body{
    background-color: #008080;
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0; 

}

/*Center the form on the page and gives it a border */
form {
    background-color: #ffffff;
    max-width: 700px;
    margin: 50px auto; 
    padding: 40px; 
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/*Styling for the header */
h2 {
    text-align: center;
    margin-bottom: 30px; 
    color: black;
}

/*styling for the subheading */
.subtext{
  text-align: center;
  font-size: 1.0em;
  color: grey;
  margin-top: -10px; 
  margin-bottom: 20px; 
}

/* styling for all the labels to prompt user for input*/
label {
  display: block; 
  margin: 1rem 0 0.5rem;  
  color: #333; 
  font-weight: normal;
}

/*Field Labels*/
label[for]{
    font-weight: 600;
}

/*Red star for the req text*/
.required {
    color: #d93025;
    font-weight: 700;
    margin-left: 0.2rem;
}

/* Styles the text boxes for the inputs of email,name, number*/
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid#ccc; 
    font-size: 16px;
    box-sizing: border-box; 
    font-family: Arial, sans-serif;
}



/*Aligns the check boxes in with the prompt */
label input[type="radio"],
label input[type="checkbox"]{
    margin-right: 8px; 
    /*margin-top: 10px; */
    position: relative;
    vertical-align: middle;
    top: -1px;
    accent-color: #4CAF50 ;
}

/* Make checkbox labels alligned  */
label {
    display: inline-flex;
    align-items: center;    
    gap: 8px;
    margin-bottom: 10px;
    font-weight: normal;     
}

/* add spacing */
input[type="radio"] + label,
input[type="checkbox"] + label{
    margin-top: 10px;
    margin-left: 6px;
    font-weight: normal;
}

/*healthcare details block*/
#healthcare-details {
  margin-top: 10px;
}
#healthcare-details label[for] {
  margin-top: 0.75rem;
}

/* Syling for the button */
button[type="submit"]{
    display: block; 
    margin: 30px auto 0;
    padding: 12px 24px; 
    font-size: 18px; 
    border: none; 
    border-radius: 8px; 
    background-color: #4CAF50;
    color: white; 
    cursor: pointer;
    transition: background-color 0.3s ease;

}

/* Adds a darker color for the hover*/
button[type="submit"]:hover{
    background-color: rgb(73, 122, 73); 
}
