<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Application Submitted</title>
  <link rel="stylesheet" href="/css/app-success.css">
</head>

<body class="success-page">
  <header class="hero">
    <div class="container">
      <h1>Thank you for your application</h1>
      <p>
        Your application was submitted successfully. Thank you for taking the time to share
        more about yourself and what you're moving through right now. Your responses help me
        understand how I can best support you on your healing and restoration journey.
      </p>
    </div>
  </header>

    <div class="body">
      <p><strong>What’s next?</strong></p>
      <ul>
        <li>Your application will be reviewed with care and consideration.</li>
        <li>Your responses help tailor our time together to what feels most important.</li>
        <li>To move forward, please book an appointment at a time that works best for you.</li>
      </ul>

      <!--Prompt Client to book appointment-->
      <div class="button-group">
        <a href="/booking" class="btn-next">Book an Appointment</a>
      </div>

    </div>
</body>
</html>
