<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Application Submitted</title>
  <link rel="stylesheet" href="/css/pre-app.css">
</head>
<body class="pre-app">
  <header class="hero">
    <div class="container">
      <h1>Thank you!</h1>
      <p>Your application was submitted successfully.***    ADD MORE HERE ** </p>
    </div>
  </header>

    <div class="body">
      <p><strong>What’s next?</strong></p>
      <ul>
        <li>Confirmation Email ??</li>
        <li>** add next steps*</li>
      </ul>

      <a href="/" class="btn-next">Back to Home</a>
      <a href="/contact" class="btn-next" style="margin-top:12px;">Contact Us</a>
    </div>
</body>
</html>
