<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Energy Leak Assessment</title>

  <link rel="stylesheet" href="/css/intro.css">
</head>

<body class="intro-page">
  <header class="hero">
    <div class="container">
      <h1>Energy Leak Assessment</h1>
      <p>This is a comprehensive assessment that will allow me to identify the most pressing issues<br> 
        you're going through so I can pinpoint what's <em>draining</em> you, give you <em>simple</em>, actionable <br>
        steps to <em>heal</em>, and help you feel more <em>balanced</em>, <em>grounded</em>, and <em>energized</em> than ever.</p>
      </div>
    </header>

    <div class="body">
      <p><em><strong>Thank you so very much for reaching out!</strong></em></p>

      <p>I'm so honored to be chosen as a partner on this part of your journey. <br>
      I will do my best to provide the very best service for your greatest benefit.</p>

      <p><u>The Energy Leak Assessment</u> is made up of 2 parts: <em>Chakras</em> and the <em>Four Major Life Quadrants</em> <br>
      Each Part has Sections:</p>

      <p><em>Seven Chakras</em> = Sections 3-9 <br>
      <em>Four Major Life Quadrants</em> = Sections 10-14</p>

      <p>Completion should take between 10-15 minutes as all Assessment questions are multiple choice.</p>

      <p>Many Blessings to you, now and always.</p>

      <p>Shante "Coach Tay" Kumar</p>

      <p>
        <em>
          Now, take a deep breath in through the nose. <br>
          Still the breath. <br>
          Release through the mouth. <br>
          And let's begin... <br>
        </em>
      </p>
    </div>

    <a href="/getting-to-know-you" class="btn-next"> Start Assessment </a>
</section>

</html>